.navbar{
  width: 100%;
}
.space{
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: #15428c;
  font-family: "Times New Roman";
}

.tabs button{
  font-size: 20px;
  font-family: "Times New Roman";
  margin: 10px;
}
.navbar button:hover{
  background-color: #ffffff;
  color: #15428c;
  }

.navbar button h3:hover{
  background-color: #ffffff;
  color: #15428c;
  text-underline: #15428c;
}

.navbar button{
  color: #ffffff;
}

.navbar h3{
  color: #ffffff;
}
.sidemenu{
  cursor: pointer;
}
