<app-adminnavbar></app-adminnavbar>

<mat-card class="detail text-center">
  <form class="form">
    <mat-toolbar class="text-center"><b>ADD Test</b></mat-toolbar>
    <mat-form-field class="question">
      <textarea matInput rows="3" [(ngModel)]="question" name="question"   id="question"
                class="form-control" placeholder="Question" required></textarea>
    </mat-form-field>

    <mat-form-field class="option">
      <input matInput type="text" [(ngModel)]="optionA" name="optionA"   id="optionA"
             class="form-control" placeholder="Option A" required/>
    </mat-form-field>
    <mat-form-field class="option">
      <input matInput type="text" [(ngModel)]="optionB" name="optionB"   id="optionB"
             class="form-control" placeholder="Option B" required />
    </mat-form-field><br>

    <mat-form-field class="option">
      <input matInput type="text" [(ngModel)]="optionC" name="optionC"   id="optionC"
             class="form-control" placeholder="Option C" required />
    </mat-form-field>
    <mat-form-field class="option">
      <input matInput type="text" [(ngModel)]="optionD" name="optionD"   id="optionD"
             class="form-control" placeholder="Option D" required />
    </mat-form-field>
    <button class="submit" mat-button type="submit"><b>Submit</b></button>

  </form>
</mat-card>
