/*----------------------------------------------------------Navbar------------------------------------------------*/
.space{
  flex: 1 1 auto;
}
/deep/.modal-open{
  padding-right: 0px !important;
}
/deep/.modal-backdrop.show{
  display:none;
}
 mat-toolbar{
   background-color: #15428c;
   font-family: "Times New Roman";
 }
button .material-icons{
   width: 25px;
   height: 35px;
   padding-top: 5px;
 }
 .tabs button{
   font-size: 20px;
   font-family: "Times New Roman";
   margin: 10px;
 }
 .navbar button:hover{
   background-color: #ffffff;
   color: #15428c;

   text-underline: #15428c;
 }

.navbar a{
   color: #ffffff;
 }
 /*.navbar h3{*/
   /*color: #ffffff;*/
 /*}*/
.form-signin .mat-form-field,.form-signin input{
  width:100%;
  margin:0px;
  padding:10px;
}
/deep/.form-signin .mat-form-field-infix{
  margin-top:20px;
}
 #sideButton{
   cursor: pointer;
 }
 #sideButton button{
   padding: 0px;
   cursor: pointer;
 }
/*-------------------------------------------------Navbar ends------------------------------------------------*/

 /*-----------------------------------------Login/Register----------------------------------------------------------*/
mat-form-field{
  height: 35px;
  width: 80%;
  padding: 5px;
  margin: 20px;
}
.login{
  width: 400px;
  margin-bottom: 24px;
  margin-top: 36px;
}
mat-form-field,
input
{
  width: 80%;
}
mat-toolbar{
  background-color: #15428c ;
  color: #ffffff;
}
form{
  border:2px solid #15428c;
}
.login{
  background-color: #15428c;
  color: #ffffff;
}

.sidemenu{
  cursor: pointer;
}
