<div class="heading text-center">
<h2 >Top Quizes</h2>
<hr>
</div>
<div class="row container">
  <div class="col-sm-6 topcourses">
    <img src="../../../assets/image/topcourses/course1.jpg" class="image img-thumbnail">
      <div class="middle">
        <div class="text"><a href=""><b>ANGULAR</b></a></div>
      </div>
  </div>
  <div class="col-sm-6  ">
    <div class="row">
      <div class="col-sm-12 topcourses">
      <img src="../../../assets/image/topcourses/course2.jpg" class="image img-thumbnail">
      <div class="middle">
        <div class="text"><a href=""><b>ANGULAR</b></a></div>
      </div>

    </div>

    </div>
    <div class="row">
      <div class="col-sm-12 topcourses">
      <img src="../../../assets/image/topcourses/banner3.jpg"  class="image img-thumbnail">
      <div class="middle">
        <div class="text"><a href=""><b>ANGULAR</b></a></div>
      </div>

    </div>
    </div>

  </div>
  <div class="category">
    <div class="row text-center">
      <div class="col-sm-3 test "><a href="">
        <img src="../../../assets/image/topcourses/c2.png"  class="course">
        <h5>C Programming</h5>
        <h6>10 Questions(15mins)</h6></a>

      </div>
      <div class="col-sm-3 test "><a href="">
        <img src="../../../assets/image/topcourses/java2.png"  class="course ">
        <h5>Java Programming</h5>
        <h6>15 Questions(20mins)</h6></a>

      </div>
      <div class="col-sm-3 test"><a href="">
        <img src="../../../assets/image/topcourses/angular3.jpg"  class="course">
        <h5>Angular</h5>
        <h6>10 Questions(20mins)</h6></a>


      </div>
      <div class="col-sm-3 test"><a href="">
        <img src="../../../assets/image/topcourses/nodejs.png"  class="course ">
        <h5>Nodejs</h5>
        <h6>10 Questions(20mins)</h6></a>

      </div>
    </div>

  </div>



</div><br><br><br><br><br><br>

